@tailwind base;
@tailwind components;
@tailwind utilities;

/*
$base-color: #e4dfd7;
$dark-color: #5d686d;
$white: #fff;
$olive: #dbd8b9;
$cool-gray: #c9c9c9;
$teal: #c0d8d5;

// Accent colors

$pink: #eac9c6;
$blue: #b5d2de;
$purple: #d0cade;
$beige: #eacfbc;
$yellow: #F2D8AB;

*/

:root {
  --color-primary-light: 228 223 215;
  --color-css-primary-light: rgba(228, 223, 215, 1);
  --color-primary-dark: 93 104 109;
  --color-css-primary-dark: rgba(93, 104, 109, 1);
  --color-primary-darkest: 62 74 77;
  --color-css-primary-darkest: rgba(62, 74, 77, 1);
  --color-white: 255 255 255;

  --color-accent-teal: 188 220 217;
  --color-css-accent-teal: rgba(188, 220, 217, 1);
  --color-accent-olive: 219 216 185;
  --color-css-accent-olive: rgba(219, 216, 185, 1);
  --color-accent-gray: 201 201 201;
  --color-accent-pink: 234 201 198;
  --color-accent-blue: 181 210 222;
  --color-accent-purple: 208 202 222;
  --color-accent-yellow: 242 216 171;

  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #e4dfd7;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.em-dash {
  padding-inline: 0.2rem;
  letter-spacing: -0.25rem;
}

.em-dash-title {
  padding-right: 0.5rem;
  letter-spacing: -0.75rem;
}

.accordion-content {
  opacity: 0;
  height: 0;
  transition: opacity 0.2s ease-in-out, height 0.3s 0.2s ease-in-out;
}

.content-visible {
  border-bottom: 1px solid var(--color-css-primary-dark);
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.2s 0.2s ease-in-out;
}
