@tailwind base;
@tailwind components;
@tailwind utilities;

/* $base-color: #e4dfd7;
$dark-color: #5d686d;
$white: #fff;
$teal: #c0d8d5;
$olive: #dbd8b9;
$cool-gray: #c9c9c9;

// Secondary Colors

$pink: #eac9c6;
$blue: #b5d2de;
$purple: #d0cade;
$beige: #eacfbc; */

:root {
  --color-primary-light: 228 223 215;
  --color-primary-dark: 93 104 109;
  --color-primary-darkest: 62 74 77;
  --color-white: 255 255 255;

  --color-accent-teal: 192 216 213;
  --color-accent-olive: 219 216 185;
  --color-accent-gray: 201 201 201;
  --color-accent-pink: 234 201 198;
  --color-accent-blue: 181 210 222;
  --color-accent-purple: 208 202 222;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #e4dfd7;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  border: 1px solid lightslategrey;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
}
